<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="google-site-verification" content="42G48wIJb0QctlBkNTp3tExPWGufkz2ljIbM4fNChgc" />
</head>
<body>
  <h1>{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.description }}</p>
  <ul>
    {{ range where .Site.RegularPages "Section" "posts" }}
      <li>
        <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a><br>
        <small>{{ .Date.Format "Jan 2, 2006" }}</small>
        <p>{{ .Summary }}</p>
      </li>
    {{ end }}
  </ul>
</body>
</html>
